* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

.main {
    width: 100%;


    height: 40px;
    background-color: rgb(68, 57, 57);
    padding-top: 3px;
    flex-wrap: wrap;
    display: flex;


}

.fa-facebok {
    width: 10px;
    gap: 50px;
    display: inline;
    color: rgb(30, 30, 228);
}

.fa-phone {
    padding-left: 55%;
    color: rgb(96, 228, 96);

}

h6 {
    color: antiquewhite;
}

.father {
    width: 100% fit-content;
    height: 50%;
    display: flex;
    background-color: rgb(8, 8, 8);
    color: rgb(243, 236, 236);
    font-size: 18px;
    font-style: oblique;
    list-style: none;
    font-weight: 700;
    gap: 20px;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;

}
.pana-cloud{
    max-width: 10%;
    min-height: 10%;
}

a {
    padding-left: 3%;
    list-style: none;
    color: rgb(250, 242, 242);
    text-decoration: none;
}
a:hover{
    text-decoration:2px solid underline white ;
    

}

.b {
    background: rgb(142, 196, 79);
    background: linear-gradient(0deg, rgba(142, 196, 79, 1) 0%, rgba(73, 169, 91, 1) 21%, rgba(95, 156, 32, 1) 33%, rgba(96, 172, 34, 1) 44%, rgba(97, 201, 38, 1) 56%);
    height: 10%;
    padding-top: 5%;
    margin: auto;
justify-content: center;
align-items: center;

}

.child-b {
    padding-left: 42%;
    font-size: 38px;
    font-weight: 800;
    font-style: italic;
}

.child-b2 {
    width: 18%;
    height: 15%;
    text-align: center;
    justify-content: center;
    margin-left: 45%;
}

.button {
    background-color: rgb(230, 159, 29);
    color: rgb(235, 227, 218);
    width: 15%;
    height: 15%;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: 900;
    font-style: oblique;
    margin: 3% 30% 10% 47%;




}
.button:hover{
    background-color: #5f4848;
    text-decoration: underline whitesmoke;
}
.parent-main {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap;
    gap: 3%;
    padding: 20px;
}

.div-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    width: 100%; 
}

.ad-span {
    color: green;
}

.c {
    background-color: rgba(41, 216, 41, 0.685);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.child-c {
    font-size: 2em;
    font-weight: 800;
    font-style: italic;
    text-shadow: -2px -4px 2px rgb(184, 136, 49);
    text-align: center;
    width: 100%;
    padding: 10px;
}

.OUR-ADVANTAGES {
    text-align: center;
    width: 90%; 
    max-width: 800px; 
    margin: 20px auto;
}

.video-container {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: rgb(237, 243, 243);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.back-video {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    color: black; /* Make sure the text is visible */
}

.description-title {
    font-size: 1.2em;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 5px;
    color: #131212;
}

.description-text {
    font-size: 1em;
    color: #777;
}

.inovation, .quality, .experience, .people, .support {
    margin: 20px auto;
    width: 90%;
    max-width: 300px;
}

.su1, .inovation1, .quality1, .experience1, .people1 {
    text-align: center;
    padding-left: 0;
}

/* Media Queries */
@media (max-width: 992px) { /* Adjust breakpoint as needed */
    .video-container {
        width: 180px;
        height: 180px;
    }
}
@media (max-width: 768px) {
    .child-c {
        font-size: 1.5em;
    }

    .OUR-ADVANTAGES {
        font-size: 1.2em;
    }

    .video-container {
        width: 150px;
        height: 150px;
    }
    .description {
        width: 90%;
    }

    .description-title {
        font-size: 1em;
    }

    .description-text {
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    .child-c {
        font-size: 1.2em;
    }

    .OUR-ADVANTAGES {
        font-size: 1em;
    }

    .video-container {
        width: 120px;
        height: 120px;
    }
    .description {
        width: 95%;
    }
    .description-title {
        font-size: 0.9em;
    }

    .description-text {
        font-size: 0.8em;
    }
}

/* .about-child {
    width: 99%;
    height: 100vh;
    background-color: rgba(48, 196, 48, 0.568);
    margin: 10px;
}

.d1-child {
    padding-left: 43%;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    text-shadow: -2px -4px 2px rgb(184, 136, 49);


}

.us {
    color: rgb(61, 180, 61);
}

.d1-child2 {
    width: 900px;
    height: 300px;

    margin-left: 2%;
    margin-top: -350px;
    padding-top: 5px;
    align-content: center;
    font-size: 20px;
}


.ab-child {
    padding-left: 69%;
    width: 400px;
    height: 400px;

}

.button2 {
    margin: 30px 800px 100px 3%;
    background-color: rgb(9, 75, 20);
    width: 100px;
    height: 50px;
    color: rgb(250, 246, 246);
    border-radius: 10%;
    border: none;
} */
#about-us {
    padding: 20px; /* Consistent padding */
}

.about-container {
    max-width: 1200px; /* Set a max width for larger screens */
    margin: 0 auto; /* Center the container */
}

.section-title {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.highlight {
    color: green;
}

.about-content {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    align-items: flex-start; /* Align items to the top */
    gap: 20px; /* Spacing between image and text */
}

.about-image {
    max-width: 40%; /* Image takes up 40% of the container */
    height: auto;
    display: block; /* Prevents extra space below image */
    margin: 0 auto; /* Center image on smaller screens */
}

.about-text {
    flex: 1; /* Text takes up remaining space */
}

.about-text p {
    line-height: 1.6; 
    margin-bottom: 15px;
}

.read-more-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more-button:hover {
    background-color: #45a049;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column; /* Stack image and text vertically */
        align-items: center; /* Center items horizontally */
    }

    .about-image {
        max-width: 80%; /* Image takes up more width on smaller screens */
    }
    .section-title{
        font-size: 1.5em;
    }
}
@media (max-width: 500px){
    .about-image{
        max-width: 100%;
    }
}
/* 
.d2 {
    width: 100%;
    height: 100vh;
    background-color: rgba(28, 206, 28, 0.644);
    margin: 0px;
}

.d2-child1 {
    padding-left: 43%;
    font-size: 35px;
    font-style: italic;

}

.d2-child2 {
    padding-left: 35%;
    padding-top: 1%;

    height: 100px;
}

.sp-se {
    color: green;
}

.web-design {
    width: 300px;
    height: 280px;
    background-color: rgba(26, 143, 88, 0.486);
    /* margin-left: 2%; */
    /* margin-top: 100px;

}

.web-img {
    width: 30%;
    height: 30%;
    background-color: rgb(6, 77, 15);
    border-radius: 50%;
    margin-top: -49px;
    margin-left: 34%;

}

.web-1 {
    padding-left: 23%;
    color: rgb(19, 97, 39);
    font-size: 21px;
    padding-top: 50px;
}

.web-2 {
    padding-left: 10px;
    align-items: center;
    padding-top: 30px;
    justify-content: center;

}

.button3 {
    margin: 30px 50px 30px 32%;
    background: none;
    color:rgb(19, 97, 39);
    text-decoration: underline;
    border: none;

}

.gra-design {
    width: 300px;
    height: 280px;
    background-color: rgba(26, 143, 88, 0.486);
    /* margin-left: 2%; */
    /* margin-top: 100px;

}

.gra-img {
    width: 30%;
    height: 30%;
    background-color:  rgb(6, 77, 15);
    border-radius: 50%;
    margin-top: -50px;
    margin-left: 90px;

}

.gra-1 {
    padding-left: 80px;
    color: rgb(19, 97, 39);
    font-size: 21px;
    padding-top: 50px;
}

.gra-2 {
    padding-left: 10px;
    align-items: center;
    padding-top: 30px;

}

.button4 {
    margin: 30px 50px 30px 110px;
    background: none;
    color:  rgb(19, 97, 39);
    text-decoration: underline;
    border: none;
}

.bra-design {
    width: 300px;
    height: 280px;
    background-color: rgba(26, 143, 88, 0.486);
    
    margin-top: 100px;

}

.bra-img {
    width: 30%;
    height: 30%;
    background-color: rgb(6, 77, 15) ;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: 90px;

}

.bra-1 {
    padding-left: 80px;
    color:  rgb(19, 97, 39);
    font-size: 21px;
    padding-top: 50px;
}

.bra-2 {
    padding-left: 10px;
    align-items: center;
    padding-top: 30px;

}

.button5 {
    margin: 30px 50px 30px 110px;
    background: none;
    color:  rgb(19, 97, 39);
    text-decoration: underline;
    border: none;
}

.mar-design {
    width: 300px;
    height: 280px;
    background-color: rgba(26, 143, 88, 0.486);

    margin-top: 100px;

}

.mar-img {
    width: 30%;
    height: 30%;
    background-color:  rgb(6, 77, 15);
    border-radius: 50%;
    margin-top: -50px;
    margin-left: 100px;

}

.mar-1 {
    padding-left: 80px;
    color:  rgb(19, 97, 39);
    font-size: 21px;
    padding-top: 50px;
}

.mar-2 {
    padding-left: 10px;
    align-items: center;
    padding-top: 30px;

}

.button6 {
    margin: 30px 50px 30px 110px;
    background: none;
    color:  rgb(19, 97, 39);
    text-decoration: underline;
    border: none;
} */ 
.section-title {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.highlight {
    color: green;
}

.section-description {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 20px; 
}

.read-more-button {
    background: none;
    color: rgb(19, 97, 39);
    text-decoration: underline;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}
.read-more-button:hover{
    color: rgb(13, 68, 26);
}

/* Services section */
.service-container {
    padding: 20px;
    /* max-width: 1200px; */
    width: 90%;
    margin: 0 auto;
    background-color: #1aaf1a;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px;
}

.service-card {
    background-color: rgba(26, 143, 88, 0.486);
    padding: 20px;
    text-align: center;
    border-radius: 8px; 
}

.service-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(6, 77, 15);
    margin: 0 auto 10px; /* Center icon */
    display: block;
    object-fit: contain;
}

.service-title {
    color: rgb(19, 97, 39);
    font-size: 1.2em;
    margin-bottom: 10px;
}

.service-text {
    margin-bottom: 20px;
}
/* portfolio section */
.portfolio-container {
    padding: 20px;
    /* max-width: 1200px; */
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #5f4848;
}

.portfolio-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    color: #ccc;
    animation:portani 3s infinite linear ;
}

@keyframes portani{ 
    0%{
        color: #9e9b9b;
        font-size: 10%;
    }
    25%{
        color: #2ecc71;
        font-size: 25%;
    }
    50%{
        color: #e6af00;
        font-size: 50%;
    }
    75%{
        color: brown;
        font-size: 70%;
    }
    100%{
        color: chartreuse;
        font-size: 80%;
    }
}
.category {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.portfolio-video {
    max-width: 800px;
    margin: 0 auto;
}

.portfolio-media {
    width: 100%;
    height: auto;
    display: block;
}

/* Media Queries */
@media (max-width: 768px) {
    .section-title {
        font-size: 1.5em;
    }
    .section-description{
        font-size: 0.9em;
    }
    .service-icon{
        width: 60px;
        height: 60px;
    }
    .service-title{
        font-size: 1em;
    }
    .service-text{
        font-size: 0.9em;
    }
}
@media (max-width: 500px){
    .section-title{
        font-size: 1.2em;
    }
    .section-description{
        font-size: 0.8em;
    }
    .service-icon{
        width: 50px;
        height: 50px;
    }
    .service-title{
        font-size: 0.9em;
    }
    .service-text{
        font-size: 0.8em;
    }
}
/* .grand-parent {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.port-child {
    width: 100%;
    height: 100vh;
    margin: 10px 0px 10px 0px;
    background: rgb(63,65,64);
background: linear-gradient(90deg, rgba(63,65,64,1) 54%, rgba(109,136,126,1) 70%, rgba(76,101,95,1) 80%, rgba(1,18,22,1) 100%, rgba(1,18,22,1) 100%);
background-repeat: no-repeat;
}
.port-h1{
    padding-left:35% ;
    font-size: 3em;
    color: white;
}
.an{
    color: green;
}
.para-port{
    padding-left: 25%;
    padding-top: 1%;
}
.pot-1{
    display: flex;
    justify-content: center;
    align-items: center;
/* margin-left: 15%;
margin-top: 2%; */
    /* gap: 8%;
    font-size:80% ;
    color: aliceblue;
    flex-wrap: wrap;
    animation:portani 5s infinite ;
    animation-delay: 3s;
} */

/* .ad{
    padding-left: 10%;
} */
/* .port-parent{
    margin: -12% 30% 25% 23%;
}
.port-img{
width: 50em;
height: 50em;
} */ */

.process-container {
   background-color: #19743f;
    width: 100%;
    text-align: center; /* Center text within container */
    margin-bottom: 20px; /* Add some spacing */
    /* background-color: rgb(25, 89, 145); */
}
.process-title {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    /* padding-left: 50%; */
}
.pro-span{
    color: rgb(64, 241, 64);
}
.process-description {
    color: #292727;
    margin-bottom: 30px;
    padding-left: 5%;
}
.process-steps {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap; 
}
.process-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
}
.step-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    /* box-shadow: 2px 2px 5px rgba(0,0,0,0.1); Subtle shadow */
}
.step-circle:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
    border: 1 px solid rgb(100, 98, 98);
    background-color: #9e9b9b;
}

.step-number {
    position: absolute;
    top: 5px; /* Adjust as needed */
    left: 5px; /* Adjust as needed */
    font-size: 0.8em;
    color: #f3f2f2;
}
.step-icon {
    width: 40px;
    height: 40px;
}
.step-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.step-description {
    color: #f7e8e8;
    font-size: 0.8em;
}


.container {
    /* max-width: 960px; */
    width: 100%;
    text-align: center;
    background-color: rgb(8, 78, 32);
}
.peo-span{
    color: rgb(68, 245, 68);
}

.section-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-description {
    color: #dad4d4;
    margin-bottom: 30px;
    font-size: 0.9em;
}

.people-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 20px;
    margin-bottom: 20px;
}

.person {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    text-align: left; /* Align text to the left within each person */
    padding: 20px;
    background-color: rgba(109, 233, 105, 0.534);
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); /* Very subtle shadow */
}

.person-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #eee; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.person-icon{
    width: 40px;
    height: 40px;
    opacity: 0.5;
}

.person-details {
    flex-grow: 1; /* Allow details to take up remaining space */
}

.person-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.person-description {
    color: #d6cfcf;
    font-size: 0.9em;
    line-height: 1.4; /* Improve line height for readability */
}
.dots{
    display: flex;
    justify-content: center;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
}
.dot.active{
    background-color: orange;
}
.dot.inactive{
    background-color: lightgray;
}
.containe {
    /* max-width: 960px; */
    width: 100%;
    text-align: center;
    background-color: #0e7444;
}

.section-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-description {
    color: #d4c0c0;
    margin-bottom: 30px;
    font-size: 0.9em;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.skill-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative; /* For positioning the percentage */
    margin-bottom: 10px;
}

/* .skill-circle::before { /* This is the animated part */
    /* content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%); /* Start as half circle*/
   

/* .skill-circle.orange::before {
    background-color: orange;
    animation-name: fill-orange;
} */

/* .skill-circle.red::before {
    background-color: red;
    animation-name: fill-red;
}

.skill-circle.green::before {
    background-color: green;
    animation-name: fill-green;
}

.skill-circle.black::before {
    background-color: black;
    animation-name: fill-black;
} */
.skill-circle {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    /* border-top: 16px solid #3498db; */
    width: 120px;
    height: 120px;
    /* -webkit-animation: spin 2s linear infinite; Safari */
    /* animation: spin 2s linear ; */
  }
  .orange{
    animation: spin 2s linear ;
    -webkit-animation: spin 3s linear ; 
    border-left: 16px solid orange;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    45%{ -webkit-transform: rotate(200deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.skill-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.orange{
    animation: spin 2s linear ;
    -webkit-animation: spin 3s linear ; 
    border-left: 16px solid orange;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    45%{ -webkit-transform: rotate(200deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

 .black{
    animation: cir 2s linear ;
    -webkit-animation: cir 3s linear ; 
    border-left: 16px solid rgb(3, 3, 3);
  }
  
  /* Safari */
  @-webkit-keyframes cir {
    0% { -webkit-transform: rotate(0deg); }
    100%{ -webkit-transform: rotate(500deg); }
  }
  
  @keyframes cir {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(500deg); }
  }
 .green{
    animation: in 2s linear ;
    -webkit-animation: in 3s linear ; 
    border-left: 16px solid rgb(2, 68, 11);
  }
  
  /* Safari */
  @-webkit-keyframes in {
    0% { -webkit-transform: rotate(0deg); }
    75%{ -webkit-transform: rotate(300deg); }
  }
  
  @keyframes in {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
   .red{
    animation: spin 2s linear ;
    -webkit-animation: sp 3s linear ; 
    border-left: 16px solid rgb(170, 3, 3);
  }
  
  /* Safari */
  @-webkit-keyframes sp {
    0% { -webkit-transform: rotate(0deg); }
    65%{ -webkit-transform: rotate(250deg); }
  }
  
  @keyframes sp {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.skill-name {
    font-weight: bold;
    color: #141414;
}

/* Keyframe animations */
@keyframes fill-orange {
    to {
        clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 100%, 36% 100%, 50% 50%); /*45%*/
    }
}
@keyframes fill-red {
    to {
        clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 80% 100%, 50% 50%); /*60%*/
    }
}
@keyframes fill-green {
    to {
        clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 50% 100%, 50% 50%); /*75%*/
    }
}
@keyframes fill-black {
    to {
        clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 20% 100%, 50% 50%); /*80%*/

    }
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }
}
.containr {
    background-color: #1aaf1a; /* Green background */
    padding: 40px;
    text-align: center;
    width: 94%;
    /* max-width: 960px; */
    border-radius: 5px; /* Add slight border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */

}

.title {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    gap: 10px; /* Consistent spacing between elements */
    margin-bottom: 20px;
}

.input-field {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Add an inner shadow */
}

.input-field::placeholder {
    color: #5f4848;
}

.submit-button {
    background-color: #FFC000; /* Orange button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.submit-button:hover{
    background-color: #e6af00;
}

.description {
    color: white;
    font-size: 0.8em;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .input-field {
        width: 100%; /* Full width on smaller screens */
        margin-bottom: 10px; /* Add margin between stacked inputs */
    }
    .form-container{
        flex-direction: column;
        align-items: center;
    }
}
.contaner {
    /* max-width: 960px; */
    max-width: 100%;
    margin: 20px auto;
    background-color: rgba(17, 148, 26, 0.281);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.co-span{
    color: #2ecc71;
}

.header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee; /* Light gray line */
}

.header h2 {
    color: #2ecc71; /* Green heading */
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

.contact-info p {
    color: #777;
    margin-bottom: 10px;
}

.contact-details {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between items */
    margin-top: 20px;
}

.contact-details span {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333;
}
.contact-details:hover{
    /* background-color: #555; */
    box-shadow: -2 -2 4 black ;
}

.map-container {
    margin-top: 30px;
    overflow: hidden; /* Prevent iframe overflow */
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 for most maps */
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.foote{
    background-color: #2ecc71;
    height: 20px;
    margin-top: 20px;
}
.footer {
    background-color: darkgreen; /* Green background */
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: space-around; /* Distribute columns evenly */
    align-items: flex-start; /* Align items to the top */
}

.footer-column {
    flex: 1 1 200px; /* Each column takes up equal space, min 200px width */
    margin-bottom: 20px; /* Space between columns on wrap */
}

.footer-column h3 {
    margin-top: 0; /* Remove default h3 margin */
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-column a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth hover transition */
}

.footer-column a:hover {
    color: #ddd; /* Lighter color on hover */
    text-decoration: underline white;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px; /* Adjust icon size as needed */
    transition: transform 0.3s ease; /* Smooth hover transition */
}
.social-icons a:hover{
    transform: scale(1.2);
}

.copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: small;
}
.logo{
    display: flex;
    align-items: center;
}